torch>=1.10.0
torchdata
transformers>=4.0.0
datasets
rdkit-pypi
pandas>=1.2.0
numpy>=1.19.0
matplotlib>=3.3.0
tqdm
bitsandbytes
accelerate
evaluate
rouge_score
trl
loralib
peft
scikit-learn>=0.24.0
Pillow
